In [1]:
import requests
import re
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

- Brand
- Rating
- No.of Ratings
- No.of Reviews
- Price
- Screen size
- SSD

In [2]:
brand=[]
rating=[]
num=[]
numofratings = []
numofreviews = []
price=[]
ss=[]
screensize=[]
ssd=[]

for i in range (1,7):
    url = f'https://www.flipkart.com/search?q=laptops&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_ps&as-pos=1&as-type=HISTORY&suggestionId=laptops%7CLaptops&requestId=34f26293-f794-4dd1-a9d4-8b19cc759f81&page={i}'
    page = requests.get(url)
    soup = BeautifulSoup(page.text)
    
    for j in soup.find_all("div",class_="_4rR01T"):
        text=j.text
        regex=re.findall("^\w+",text)
        if regex:
            brand.append(regex[0])
        else:
            brand.append(np.nan)
            
    for j in soup.find_all("div", class_="_3pLy-c row"):
        rate = j.find("div", class_="_3LWZlK")
        if rate:
            rating.append(rate.text)
        else:
            rating.append(np.nan)
            
    for j in soup.find_all("div",class_="col col-7-12"):
        n=j.find("span",class_="_2_R_DZ")
        if n:
            num.append(n.text)
        else:
            num.append(np.nan)
            
                
    for j in soup.find_all("div",class_="col col-5-12 nlI3QM"):
        p=j.find("div",class_="_30jeq3 _1_WHN1")
        if p:
            price.append(p.text)
        else:
            price.append(np.nan)
            
    for j in soup.find_all('div',class_='fMghEO'):
        size=j.find('ul',class_='_1xgFaf')
        if size:
            ss.append(size.text)
        else:
            ss.append(np.nan)
            
            
for j in num:
        if j is np.nan:
            numofratings.append(np.nan)
        else:
            a=re.findall('(^\d+\,?\d+?)\s',j)
            if len(a)>0:
                numofratings.append(a[0])
            else:
                numofratings.append(np.nan)
                
for j in num:
    if j is np.nan:
        numofreviews.append(np.nan)
    else:
        a=re.findall('\s(\d+\,?\d+?)\s',j)
        if len(a)>0:
            numofreviews.append(a[0])
        else:
            numofreviews.append(np.nan)
            
for i in range (len(ss)):
        j = re.findall("\((\d+?\.?\d+)?\s(?:inch|Inch)",ss[i])
        if j:
            screensize.append(j[0])
        else:
            screensize.append(np.nan)
            
for i in range (len(ss)):
    j = re.findall("(\d+)\sGB\sSSD",ss[i])
    if j:
        ssd.append(j[0])
    else:
        ssd.append(np.nan)

In [3]:
dic = {
    'Brand':brand,
    'Rating':rating,
    'No.of Ratings':numofratings,
    'No.of Reviews':numofreviews,
    'Price':price,
    'Screen size':screensize,
    'SSD':ssd
}

In [4]:
df = pd.DataFrame(dic)

In [5]:
df

      Brand Rating No.of Ratings No.of Reviews    Price Screen size  SSD
0      ASUS    3.7           487            56  ₹13,990        11.6  NaN
1        HP    3.9           261            24  ₹22,990          14  NaN
2      ASUS    4.3         6,207           605  ₹37,990        15.6  512
3      ASUS    4.3         3,081           238  ₹47,990        15.6  512
4    Lenovo    4.2           568            69  ₹34,990        15.6  512
..      ...    ...           ...           ...      ...         ...  ...
139      HP    4.3         5,521           468  ₹38,079          14  512
140      HP      4            66           NaN  ₹59,533          14  256
141     MSI    4.4           549            75  ₹61,990        15.6  512
142      HP    4.4           134            14  ₹72,990          14  512
143      HP    4.7            28           NaN  ₹67,990        15.6  NaN

[144 rows x 7 columns]

In [6]:
df.to_csv("Laptopsnew.csv")